.ContainerDiv {
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  min-width: 50%;
  position: relative;
  height: 450px;
}

.rightIcon,
.leftIcon {
  font-size: 3.5vw;
  align-self: center;
  margin-left: 10px;
}

.rightIcon:hover,
.leftIcon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.imageDiv {
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-size: cover;
  height: 450px;
}

.projectsButtons {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.projectAlbum {
  height: 300px;
  width: inherit;
}

.rightControl > i, .leftControl > span, .leftControl > i {
  color: black;
}

.rightControl > i, .rightControl > span {
  right: 50% !important;
  margin-right: -35px !important;
  position: absolute !important;
  top: 50% !important;
  z-index: 5 !important;
  display: inline-block !important;
  margin-top: -10px !important;
  font-size: 35px !important;
}

.leftControl > i, .leftControl > span{
  font-size: 35px !important;
  margin-left: -30px !important;
}

.carousel-control-next, .carousel-control-prev{
  width: 0 !important;
}

@media (min-width: 992px) {
  .projectsDiv{
    height: 455px;
  }

  .ContainerDiv {
    width: 100%;
  }

  .imageDiv{
    width: 100%;
  }
}

@media (max-width: 991px) {
  .projectsDiv{
    height: 950px;
  }
}

@media (max-width: 767px) {
  .imageDiv{
    width: 95%;
  }

  .ContainerDiv {
    width: 95%;
  }

  .rightControl > i, .rightControl > span {
    margin-right: -30px !important;
  }
}