.innerPolygon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-image: url("https://i1.sndcdn.com/artworks-000158744112-h6bqa4-t500x500.jpg");
  background-size: contain;
  height: 280px;
  width: 280px;
  margin: auto;
  position: absolute;
  top: 3%;
  left: 3%;
}

.outerPolygon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  height: 300px;
  width: 300px;
  background-image: linear-gradient(to left, #a4e1bf, #fef9a4);
  position: relative;
}
