.ContainerDiv {
  background-color: #fdd10b;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #808278;
  min-width: 50%;
  position: relative;
  height: 450px;
}

.rightIcon,
.leftIcon {
  font-size: 3.5vw;
  align-self: center;
  margin-left: 10px;
}

.rightIcon:hover,
.leftIcon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.imageDiv {
  border: 4px green solid;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #808278;
  cursor: pointer;
  background-size: cover;
  height: 450px;
}

.projectsButtons {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.projectAlbum {
  height: 300px;
  width: 200px;
}

.leftControl > i, .leftControl > span {
  color: black;
}

.rightControl > i, .leftControl > span {
  color: black;
}

.carousel-control-prev{
  width: 2% !important;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.carousel-control-next{
  width: 2% !important;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

@media (min-width: 767px) {
  .projectsDiv{
    height: 455px;
  }
}

@media (max-width: 767px) {
  .projectsDiv{
    height: 950px;
  }
}

.underline::after{
  content: "";
  height: 4px;
  background-color: #ffdc6e;
  margin-right: 10px;
  position: absolute;
  width: 90px
}