.bgimg{
    background-image:  url('./shrimp-zone-seafood_menu_2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    height: 500px;    
}
.fsiz{
    font-size: .8rem;
}