 body {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.custom_contanier{
  margin: 0 auto;
  width: 90%;
}
.gradient_style{
  position: relative;
}

.gradient_style:after{
  content:"";
  position: absolute;
  height: 6px;
  display: block;
  width: 100%;
  background: -webkit-linear-gradient(right, #a4e1bf 0%,  #fef9a4 100%);
  bottom: 0;
}
.arrow_style{
  position: relative;
}

.slick-arrow{
  background-color: black;
  
}

.searcher_title
{
  margin: 0px 0px 15px 0px;
  /* padding-top: 30px; */
  /* border-bottom: 1px solid rgb(230, 230, 230); */
}

.searcher_title  > div::after
{
  content: "";
  position: absolute;
  background-color: white;
  left: -30%;
  right: 0%;
  height: 2.5px;
  bottom: -2px;
}

/* .searcher_title  h3,h4,h2,h5,p
{
  position: relative;
  font-weight: 400;
  color: rgba(158, 31, 99);
  color: var(--color-1);
  margin: 0px;
  line-height: 0px;
  text-align: center;
} */

.slick-slide{
  /* cursor: pointer; */
}
.slick-next{
  right: -10px;
  top: 40%;
}
.slick-prev{
  z-index: 1;
  left: -10px;
  top: 40%;
}
@media (min-width : 767px) {
  .content{
    font-size: 1vw;
  }

  .titles{
    font-size: 2vw;
  }
}

@media (max-width : 767px) {
  .content{
    font-size: 2vw;
  }

  .titles{
    font-size: 4.5vw;
  }
}


.content , .titles {
  color: #808278;
}

.ContainerDiv{
  background-color: #fdd10b;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #808278;
  min-width: 50%;
}

.line{
  background-image: linear-gradient(to left, #a4e1bf, #fef9a4);
  height: 5px;
  width: 90%;
}

.rightIcon, .leftIcon{
  font-size: 3.5vw;
  align-self: center;
  margin-left: 10px;
}

.rightIcon:hover, .leftIcon:hover{
  opacity: 0.5;
  cursor: pointer;
}

.titleIcon{
  font-size:2.5vw;
  align-self: center;
  margin-left: 1%;
}

.imageAlbum{
  border: 4px green solid;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #808278;
  cursor: pointer;
}

.albumDiv{
  width: 500px;
}

.innerPolygon{
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-image: url("https://i1.sndcdn.com/artworks-000158744112-h6bqa4-t500x500.jpg");
  background-size: contain;
  height: 15vw;
  width: 15vw;
  margin: auto;
  position:absolute;
        top: 3%;
        left:3%;
}

.outerPolygon{
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  height: 16vw;
  width: 16vw;
  background-image: linear-gradient(to left, #a4e1bf, #fef9a4);
  position:relative;
}



.slick-next, .slick-next:focus, .slick-next:hover, .slick-prev, .slick-prev:focus, .slick-prev:hover {
  color: transparent;
  outline: none;
  background: transparent;
}


.slick-next:before, .slick-prev:before {
  color: #000;
}

