@font-face {
  font-family: "GESSTwo";
  src: url("./assets/fonts/GESSTwo/GESSTwoLight-Light.woff");
}
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "GESSTwo", "PT Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.custom_contanier {
  margin: 0 auto;
  width: 90%;
}
.gradient_style {
  position: relative;
}

.gradient_style:after {
  content: "";
  position: absolute;
  height: 6px;
  display: block;
  width: 100%;
  background: -webkit-linear-gradient(right, #a4e1bf 0%, #fef9a4 100%);
  bottom: 0;
}
.arrow_style {
  position: relative;
}

.slick-arrow {
  background-color: black;
}

.searcher_title {
  margin: 0px 0px 15px 0px;
  /* padding-top: 30px; */
  /* border-bottom: 1px solid rgb(230, 230, 230); */
}

.searcher_title > div::after {
  content: "";
  position: absolute;
  background-color: white;
  left: -30%;
  right: 0%;
  height: 2.5px;
  bottom: -2px;
}

/* .searcher_title  h3,h4,h2,h5,p
{
  position: relative;
  font-weight: 400;
  color: rgba(158, 31, 99);
  color: var(--color-1);
  margin: 0px;
  line-height: 0px;
  text-align: center;
} */

.slick-slide {
  /* cursor: pointer; */
}
.slick-next{
  right: -20px;
  top: 45%;
}
.slick-prev {
  z-index: 1;
  left: -20px;
  top: 45%;
}

.content{
  font-size: 1rem;
}

.titles{
  font-size: 1.5rem;
}

.content,
.titles {
  color: #808278;
}

.ContainerDiv {
  background-color: #fdd10b;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #808278;
  min-width: 50%;
}

.line {
  background-image: linear-gradient(to left, #a4e1bf, #fef9a4);
  height: 5px;
  width: 90%;
}

.rightIcon,
.leftIcon {
  font-size: 3.5vw;
  align-self: center;
  margin-left: 10px;
}

.rightIcon:hover,
.leftIcon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.titleIcon {
  font-size: 2.5vw;
  align-self: center;
  margin-left: 1%;
}

/* .imageAlbum{
  border: 4px green solid;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #808278;
  cursor: pointer;
} */

.albumDiv {
  width: 500px;
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
}

.hovering {
  padding: 10px;
  cursor: pointer;
}

.hovering:hover {
  transform: scale(1.05);
}

.fc .fc-daygrid-day-number {
  color: grey;
  text-decoration: none;
}

.fc-col-header-cell-cushion {
  text-decoration: none;
}

.bg_gradient {
  background-image: linear-gradient(to left, #a4e1bf, #fef9a4);
}

.myButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #a4e1bf;
  border: none;
  color: #000;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.myButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.myButton span:before {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.myButton:hover span {
  padding-left: 25px;
}

.myButton:hover span:before {
  opacity: 1;
  left: 0;
}

/* #myVideo{
  position: relative;
  min-height: 100%;
  min-width: 100%;
  right: 0;
  bottom: 0;
}

.vidcontent{
  position: absolute;
} */

.bgvid {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1
}

.bgvid  video{
  object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}